#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

/ {
    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    behaviors {
    };

    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <
&kp ESC           &kp N1  &kp N2        &kp N3        &kp N4  &kp N5       &none  &kp N6     &kp N7  &kp N8     &kp N9      &kp N0         &kp BACKSPACE
&kp TAB           &kp Q   &kp W         &kp E         &kp R   &kp T        &none  &kp Y      &kp U   &kp I      &kp O       &kp P          &kp SINGLE_QUOTE
&kp LEFT_SHIFT    &kp A   &kp S         &kp D         &kp F   &kp G        &none  &kp H      &kp J   &kp K      &kp L       &kp RA(COMMA)  &kp TILDE
&kp LEFT_CONTROL  &kp Z   &kp X         &kp C         &kp V   &kp B        &none  &kp N      &kp M   &kp COMMA  &kp DOT     &kp SEMICOLON  &kp ENTER
&kp C_MUTE        &none   &kp LEFT_ALT  &kp LEFT_WIN  &mo 1   &kp SPACE    &none  &kp SPACE  &mo 2   &none      &kp DELETE  &kp CAPSLOCK
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "Main";
        };

        layer_1 {
            bindings = <
&kp F1            &kp F2           &kp F3                             &kp F4           &kp F5           &kp F6             &none   &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&kp TAB           &trans           &trans                             &none            &none            &none              &none   &trans  &none   &none   &none    &none    &none
&kp LEFT_SHIFT    &trans           &trans                             &trans           &trans           &none              &none   &trans  &none   &none   &none    &trans   &kp CARET
&kp LEFT_CONTROL  &none            &none                              &rgb_ug RGB_SAI  &rgb_ug RGB_SPI  &rgb_ug RGB_SAD    &none   &none   &none   &none   &none    &trans   &trans
&kp C_MUTE        &rgb_ug RGB_TOG  &rgb_ug RGB_COLOR_HSB(309,100,17)  &rgb_ug RGB_EFF  &trans           &trans             &trans  &trans  &trans  &none   &none    &none
            >;

            display-name = "NumFn";
        };

        layer_2 {
            bindings = <
&kp GRAVE         &bt BT_SEL 0  &bt BT_SEL 1      &bt BT_SEL 2       &bt BT_CLR            &bt BT_CLR_ALL    &none  &none           &none           &none            &none  &none        &none
&kp TAB           &none         &kp QMARK         &kp SLASH          &kp NON_US_BACKSLASH  &none             &none  &none           &kp UP_ARROW    &none            &none  &none        &none
&kp LEFT_SHIFT    &none         &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp MINUS             &kp EQUAL         &none  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none  &none        &none
&kp LEFT_CONTROL  &sys_reset    &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &none                 &none             &none  &none           &none           &none            &none  &bootloader  &none
&none             &none         &none             &none              &none                 &none             &none  &none           &none           &none            &none  &none
            >;

            display-name = "System";
        };
    };
};
